* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: lighter
}

html{
  background: black;
}

.container{
  width: 100vw;
  height: 100vh;
  padding: 90px;
  display: flex;
  flex-direction: column;
}
$hero: 300px;
.hero {
  // width: 100vw;
  max-width: $hero;
  max-height: $hero;
  width: 90%;
  margin-bottom: 64px;
  pointer-events: none;
}

.c-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-n {
  display: flex;
  justify-content: center;
}

.text-white {
  color: #ccc;
}

.redes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  font-size: 22px;
}

.sociales {
  width: 100%;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 32px - 8px - 12px;
  a {
  margin-bottom: 12px;
  font-size: 18pt;
  }
}

.telefonos {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px - 8px;
}

a {
  text-decoration: none;
  color: white;
}

.icon {
  display: inline-block;
  position: relative;
  // margin-right: 8px;
  &.big {
  width: 64px;
  top: 25px;
  margin-right: 8px;
  }
  &.small {
  // margin-bottom: -4px;
    width: 22px
  }
}

.phone {
  &.lada {
    font-size: 18pt;
    margin-left: 8px;
    margin-right: 8px;
  }
  &.number {
    font-size: 24pt;
  }
}

.direccion {
  text-align: center;
}